<ion-view view-title="Predict">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear icon ion-ios-refresh-outline" ng-click="refreshPredict()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="item item-input" ng-click="showOptionDialog()">
      <img ng-src="{{selectedGame.logo}}" style="width:200px"/> <span class="text-center">&nbsp; × {{count}}</span>
    </div>
    <div class="button button-light row" ng-repeat="lotto in lottos" style="text-align:center" >
      <div class="col positive" ng-repeat="value in lotto.values">
        <button class="ball ball-normal">{{value}}</button>
      </div>
      <div class="col assertive" ng-repeat="extra in lotto.extras">
        <button class="ball ball-super">{{extra}}</button>
      </div>
    </div>
  </ion-content>
</ion-view>
