<ion-view view-title="Options">
  <ion-content>
    <ion-list>
      <div class="item {{options.style.name}} item-button-right" ng-click="showStyleDialog()">
          Style
          <button class="button button-{{options.style.name}}">
          {{options.style.name}}
        </button>
      </div>
      <ion-toggle  ng-model="settings.enableFriends"  toggle-class="toggle-{{options.style.name}}" class="{{options.style.name}}">
          Enable Friends
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
