<ion-view view-title="About">
  <ion-content>
    <div>This App is developed for the people wanted to play lotto but has no idea which number to choose.
    It will not increase the chance for you to win but help you to make decision.
    If you really win the a big deal with this app, it will be very kind of you to share with me and/or make a donate :D Thanks!
    </div>
    <button ng-click="aboutMe(false)" on-hold="aboutMe(true)">About me :)</button>
    <button ng-click="makeDonate()">Make a donate :D</button>
  </ion-content>
</ion-view>
